<div class="section h-75 d-flex justify-content-center align-items-center ">
    <div class="container w-75 mt-5 shadow-lg rounded-2 p-5 ">

        <div class="alert alert-danger" *ngIf="apiErrorMessage">
            {{apiErrorMessage}}
        </div>

          
        <h1 class="text-center mt-3">Enter New Password</h1>

        <form [formGroup]="ResetPasswordDoctor" (ngSubmit)="ResetPassword(ResetPasswordDoctor)">
              <div class="form-floating mb-2 position-relative">
                <input [type] = "hidePassword ? 'password' : 'text'" formControlName = "password" class="form-control"
                  id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">New Password</label>
                <span (click)="togglePasswordVisibility()" class="cursor-pointer">
                  <i class="fa-solid fa-eye" *ngIf="!hidePassword"></i>
                  <i class="fa-solid fa-eye-slash" *ngIf="hidePassword"></i>
                </span>
              </div>
        
              <div class="alert alert-danger" *ngIf="ResetPasswordDoctor.get('password')?.errors && (ResetPasswordDoctor.get('password')?.touched || isNotValidForm)">
                <p class="mb-0" *ngIf="ResetPasswordDoctor.get('password')?.getError('required')">Password is required</p>
                <p class="mb-0" *ngIf="ResetPasswordDoctor.get('password')?.getError('pattern')">
                  Password is invalid , Minimum eight characters, at least one letter and one number</p>
              </div>

              <button type="submit" class="btn mt-4 px-5 fs-5 mb-3 text-white mx-auto d-block">
                Submit
              </button>

        </form>
    </div>
</div>
