<section class="py-3 d-flex justify-content-center align-items-center">
  <div class="container w-75 mx-auto">

<div class="container m-0 p-0">
      <h2 class="title">
        <span class="title-word title-word-1">We</span>
        <span class="title-word title-word-2">lco</span>
        <span class="title-word title-word-3">me</span>

      </h2>
    </div>

    <p class="text-white text-center mb-4">Please Choose Your Role</p>

    <div class="row gx-4 justify-content-center align-items-center">

    <div class="col-6 m-0 d-flex justify-content-center align-items-center">
          <a routerLink="/loginDoctor" class="myAnchor">
            <div class="doctor mx-auto">
              <img src="./assets/imgs/Doctor.png" alt="doctor-image">
              <h3 class="fw-bolder text-center text-white mt-2">Doctor</h3>
          </div>
      </a>
    </div>

      <div class="col-6 m-0 d-flex justify-content-center align-items-center">
        <a routerLink="/loginPatient" class="myAnchor">
        <div class="patient mx-auto">
          <img src="./assets/imgs/Patient.png" alt="Patient-image">
          <h3 class="fw-bolder text-center text-white mt-2">Patient</h3>
        </div>
      </a>
      </div>

    </div>
  </div>

</section>
