nav .navbar-toggler{
    border-color: white !important;
}

nav .navbar-toggler:focus{
    border-color: white !important;
    box-shadow: 0 0 0 0.25rem #ffff !important;
}

li a{
    font-size: 16px;
}

@media screen and (min-width:1150px){
    li a{
        font-size: 20px;
    }
} 

