h1,
h3 {
  color: #6784E9;
}


.image {
  margin-bottom: 18px;
}


img {
  width: 50%;
}


a {
  font-size: 25px;
}


@media screen and (max-width : 768px) {
  a {
    font-size: 16px;
    width: 40% !important;
  }

  div {
    margin-block: 30px;
  }

  img {
    width: 75%;
  }

}

@media screen and (max-width : 470px) {
  img {
    width: 85%;
  }

  div {
    margin-block: 35px;
  }
}
