.addMedicineBtn {
    transition: 0.4s all;
    font-size: 20px;
    width: 25%;
}

.addMedicineBtn:hover {
    background-color: #2656d1;
}

img {
    height: 200px;
    width: 100%;
}

.medicine {
    border: 4px solid transparent;
    overflow: hidden;
    padding-block: 16px;
    padding-inline: 12px;
    transition: 0.3s all;
}

.medicine:hover {
    border: 4px solid #0D6EFD;
    transform: scale(1.05);
}

input {
    border: 3px solid #0D6EFD
}

.medicine h3 {
    color: #0D6EFD
}

@media screen and (min-width : 768px) and (max-width : 992px) {
    button {
        font-size: 13px;
    }
}

@media screen and (min-width : 507px) and (max-width : 767.555px) {
    .buttons {
        width: 75%;
        margin: auto;
    }
}

@media screen and (max-width : 768px) {
    .addMedicineBtn {
        transition: 0.4s all;
        font-size: 16px;
        width: 50%;
    }
}