<div class="section h-75 d-flex justify-content-center align-items-center">
    <div class="container w-75 mt-5 shadow-lg rounded-2 p-5 ">

        <div class="alert alert-danger" *ngIf="apiErrorMessage">
            {{apiErrorMessage}}
          </div>


        <h1 class="text-center mt-3">Enter Your Email</h1>

        <form [formGroup]="ForgotPassDoctor" (ngSubmit)="ForgotPassword(ForgotPassDoctor)">
              <div class="form-floating mt-3 position-relative">
                <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
                <i class="fa-solid fa-envelope"></i>
              </div>

              <div class="alert alert-danger mt-1" *ngIf="ForgotPassDoctor.get('email')?.errors && (ForgotPassDoctor.get('email')?.touched || isNotValidForm)">
                <p class="mb-0" *ngIf="ForgotPassDoctor.get('email')?.getError('required')">Email is required</p>
                <p class="mb-0" *ngIf="ForgotPassDoctor.get('email')?.getError('email')">Email is invalid , name@example.com</p>
              </div>


              <button type="submit" class="btn mt-4 px-5 fs-5 mb-3 text-white mx-auto d-block">
                Submit
              </button>

        </form>
    </div>
</div>


