input{
    background-color: #EFF0F6;
}

i{
position: absolute;
    top: 5px;
    right: 0;
    z-index: 2;
    height: 100%;
    padding: 1rem 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

button{
    background: #0866FF;
    transition: 0.4s all;
}

button:hover{
    background: #0545ac;
}